body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/img/pexels-chigraph-1166636.jpg");
  background-repeat: no-repeat; /* Que no se repita */
  background-size: cover; /* Que ocupe toda la pantalla */
  background-position: center; /* Centrar la imagen */
}

main {
  flex-grow: 1;
}

.colorTitulo{
  color: #7fecff;
}

.btnColor{
  background-color: rgb(220, 247, 100); /* blanco con 20% de opacidad */
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.5); /* blanco con 20% de opacidad */
  color: #000; /* texto negro para que se lea bien */
  border: 1px solid rgba(255, 255, 255, 0.5); /* opcional: borde suave */
}